<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silicon Valley Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <hr class="py-3">
            <div class="row flex-nowrap justify-content-between align-item-center">
                <div class="col-4 pt-1">
                    <a href="#" class="btn btn-sm btn-outline-secondary"> Login</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center" >
                    <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-magnifying-glass"></i> Sign up</a>
                </div>
            </div>
            </hr>
        </header>
    </div>
</body>

</html>