
{{> post-info post}}

{{#if loggedIn}}
<section class="book">
    <form class="commentForm">
        <label for="post-content">Comment</label>
        <textarea id="updateText" class="form-control box "type="text" placeholder="your comment" id="commentText"></textarea>
    
        <input type="submit" value="Add Comment" class="signUpBtn">
    </form>

    </section>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}