<div class="mb-5 pt-3">
        <a href="/dashboard/new-post/"><button id="create-post" class="btn btn-is-primary ">create post</button></a>
        
        <h2 class="title pb-4">dashboard: your posts</h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button class="btn btn-is-primary">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="text-center fw-bold fs-1">you do not currently have any posts</h6>

{{/if}}


