<article>
    <a href="/dashboard"> &larr; Back To Dashboard</a>
    <h2>
        Edit Blog
    </h2>
    <form class="updateForm">
        <div>
            <label for="post-title">Blog title:</label>
            <input id="updateTitle" type="text" size="60" value="{{title}}" />
        </div>
        <div>
            <label for="post-content">Blog content:</label>
            <textarea id="updateText" type="text">{{text}}</textarea>
        </div>
        <div>
            <button type="submit">Save Post</button>
            <button type="button" class="deletePost">Delete Post</button>
        </div>
    </form>
</article>

<form class="commentForm">
    <div>
        <textarea id="commentText"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/js/comment.js"></script>
<script src="/js/updatepost.js"></script>
<script src="/js/deletepost.js"></script>
