<section class="book">

    <h1 class="heading"> Coffee <span>Log in</span> </h1>

    <form class="loginForm">
        <input id="loginEmail" type="email" placeholder="your email" class="box">
        <input id="loginPassword" type="password" placeholder="your password" class="box">
        <input type="submit" value="Log In" class="signUpBtn">
        <input type="submit" value="Sign Up" class="signUpBtn signUp">
    </form>

</section>

<script src="/js/login.js"></script>
