<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>
    <hr class="mb-3">

    <form class="form newPostForm ">
      <div class="mb-3">
        <label for="post-name">Title: </label>
        <input class="form-control" type="text" id="postTitle" name="title" placeholder="insert blog title here" />
      </div>
      <div class="mb-3">
        <label for="blogContent">description:</label>
        <textarea class="form-control" id="blogContent" name="text"  placeholder="insert blog content here"></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<script src="/js/newpost.js"></script>

