{{> post-info post}}

{{#if loggedIn}}
<form class="commentForm">
    <div class="mb-3">
        <textarea class="form-control" id="commentText"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
</form>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}